@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i');
@import url('http://fonts.googleapis.com/css?family=Pacifico');
body {
	background-color: #f8f8f8;
	font-family: 'Lato', sans-serif;
	color: #111;
	font-size: 16px;
	font-weight: 400;
	text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track {
    background: #eee;
    box-shadow: 0 0 1px 1px #bbb, inset 0 0 7px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: linear-gradient(left, #96A6BF, #63738C);
    box-shadow: inset 0 0 1px 1px #5C6670;
}
.content {
	width: 70vw;
	max-width: 780px;
	left: 0;
    right: 0;
    margin: auto;
    height: 100%;
}
.logo {
	font-family: Pacifico;
	color: #333;
	font-size: 35px;
	text-align: center;
	font-size: normal;
	margin-top: 20px;
}
.logo #bio {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: #777;
	letter-spacing: .2em;
    text-align: center;
    text-transform: uppercase;
    font-size: 10px;
}
.nav {
	margin-top: 40px;
	font-family: effra, sans-serif;
	font-size: 16px;
	font-weight: 300;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.nav a{
	color: #777;
	text-decoration: none;
	padding: 1em;
}
.nav a:hover {
    color:#333;
}
.nav .active {
    color: #333;
    font-weight: 500;
}
.nav-left {
    float: left;
}
.nav-left ul li {
    float: left;
}
.nav-right ul li {
    float: right;
}
a:hover #github {
    color: #333;
    transition: color 0.5s linear;
    -webkit-transition: color 0.5s linear;
    -moz-transition: color 0.5s linear;
}
a:hover #linkedin {
    color: #0077B5;
    transition: color 0.5s linear;
    -webkit-transition: color 0.5s linear;
    -moz-transition: color 0.5s linear;
}
a:hover #quora {
    color: #a82400;
    transition: color 0.5s linear;
    -webkit-transition: color 0.5s linear;
    -moz-transition: color 0.5s linear;
}
a:hover #mail {
    color: #D44638;
    transition: color 0.5s linear;
    -webkit-transition: color 0.5s linear;
    -moz-transition: color 0.5s linear;
}
.about {
	margin-top: 40px;
}
.about p {
	font-size: 16px;
	color:  #555;
	font-weight: 400;
	letter-spacing: .04em;
	text-align: left;
	line-height: 1.5em;
}

.about a {
	color: #2d818f;
	text-decoration: none;
	border-bottom: solid 1px #2d818f;
}

.about a:hover {
    border: none;
}

.footer {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	width: 70vw;
	max-width: 780px;
	left: 0;
    right: 0;
    margin: auto;
    font-size: 10px;
    color: #777;
    letter-spacing: .3em;
    text-align: center;
    text-transform: uppercase;
}
.footer hr {
    display: block;
    margin: 20px 0 20px 0;
    border: 0.5px solid #d6d6d6;
}
.footer a {
    color: #777;
    text-decoration: none;
}
