<h4>Hi! My name is Ani.</h4>

<p>
  My mission is to turn blockchain protocols into usable experiences that brings web3 to the masses.

  I am a strong proponent of non-custodial programmable money underpinned by math, and believe it is going to
  take the world by storm - one block at a time.
</p>

<p>
  I'm currently a Wallet Engineer at <a href="https://brave.com">Brave</a>, where I'm building a native
  multi-chain web3 wallet.
</p>

<p>
  <b>Past lives:</b>
  <ul>
    <li>
      <a href="https://ledger.com">Ledger</a>: helped financial institutions secure billions in crypto assets.
    </li>
    <li>
      <a href="https://home.cern">CERN</a>: performed satanic rituals around the Large Hadron Collider.
    </li>
    <li>
      <a href="http://www.hri.res.in">HRI</a>: learned that quantum physics is hard, and teleportation is real.
    </li>
  </ul>
</p>
