<h4>Hi! My name is Ani.</h4>

<p>
  Web3 is taking the world by storm - one block at a time. My mission is to
  transform complex blockchain protocols into intuitive and enjoyable
  experiences. I firmly believe that money should be non-custodial, and its
  security properties should be underpinned by math.
</p>

<p>
  I'm a Staff Engineer at <a href="https://brave.com">Brave</a>, where I work
  on Web3 initiatives, notably the multi-chain
  <a href="https://brave.com/wallet">Brave Wallet</a>.
</p>

<p>
  <b>Past lives:</b>
  <ul>
    <li>
      <a href="https://ledger.com">Ledger</a>: helped whales secure billions and billions of dollars in crypto assets.
    </li>
    <li>
      <a href="https://home.cern">CERN</a>: performed satanic rituals around the <a href="https://en.wikipedia.org/wiki/Large_Hadron_Collider">Large Hadron Collider</a>.
    </li>
    <li>
      <a href="http://www.hri.res.in">HRI</a>: learned that quantum physics is hard, and teleportation is real.
    </li>
  </ul>
</p>
