<h4>Hi! My name is Ani.</h4>

<p>
  I am a strong proponent of freedom currencies, and the democratization of money. I spent 5 years working in love-city
  Paris, notably on cryptocurrencies, before going nomad mostly out of Bangalore.
</p>

<p>
  I'm currently a Wallet Engineer at <a href="https://brave.com">Brave</a>, where I'm building an internet-scale native
  crypto wallet.
</p>

<p>
  <b>Past lives:</b>
  <ul>
    <li>
      <a href="https://ledger.com">Ledger</a>: helped financial institutions secure billions in crypto assets.
    </li>
    <li>
      <a href="https://home.cern">CERN</a>: performed satanic rituals around the Large Hadron Collider.
    </li>
    <li>
      <a href="http://www.hri.res.in">HRI</a>: learned that quantum physics is hard, and teleportation is real.
    </li>
  </ul>
</p>
