---
layout: base.njk
pageTitle: 404
permalink: /404.html
---
<h1>404</h1>
<p>
  This page is in superposition. Observing it collapsed the wavefunction
  to nothing.
</p>
<p>
  <a href="/">← back home</a>
</p>
